@import "~antd/dist/antd.css";

main {
    min-height: calc(100vh - 110px - 64px);
    margin: 16px 0px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.logo {
  margin: 0px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.footer {
  text-align: center;
  font-weight: bold;
}

.grid-3{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}